{
    "Filter":{
        "Name":"example.config",
        "Description":"Provision requesting users for access to service xyz."
    },
    "Issue":{
        "Project":"Key",
        "Type":"Service Request"
    },
    "Provision":{
        "Status":"In Progress"
    },
    "Transition":{
        "Status":"Resolve this issue",
        "Labels": [
            "provisioning_script"
        ],
        "Comment":"This user has now been provisioned access to service xyz."
    },
    "ActiveDirectory":{
        "Groups": [
            "jira-TestGroup", 
            "jira-OtherTestGroup"
        ]
    }
}
